.hero-banner-section {
    background: #54bcf9;
    padding-bottom: 20px;
}

.hero-banner-section .logo {
  color: #000000;
}

/*Logo section*/
.hero-banner-section .logo .ellipse {
    position: relative;
    top: 47px;
    margin-left: auto;
    margin-right: auto;
    width: 166px;
    height: 166px;
    border-radius: 83px;
    border: 8px solid;
    border-color: #000000;
}

.hero-banner-section .logo .initials {
    position: relative;
    top: -87px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Ubuntu Condensed", Helvetica;
    font-weight: 400;
    font-size: 92px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
  }

  /*Links Section*/
  .hero-banner-section {
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
    white-space: nowrap;
  }
  /*link position*/
  .hero-banner-section .about {
    position: relative;
    top: -91px;
    margin-left: -260px;
    margin-right: auto;
    text-align: center;
  }
  .hero-banner-section .projects {
    position: relative;
    top: -80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .hero-banner-section .contact {
    container-type: size;
    position: relative;
    top: -145px;
    margin-left: auto;
    margin-right: -238px;
    text-align: center;
  }

  /*link behaviour*/ 
  a:visited{
    color: inherit;
  }

  .hero-banner-section .logo > .initials a:link {
    color: #030202;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
    .hero-banner-section .logo > .initials a:hover, a:active {
    color: #eeece7;
    text-decoration: none;
  }

 /*link behaviour for about, projects, and contact*/ 
    .hero-banner-section .logo a:link {
    color: #030202;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
  }

    .hero-banner-section .logo a:hover {
    color: #eeece7;
  }

  /*Banner intro section*/
  .hero-banner-section .intro-description .header{
    position: relative;
    margin-top: -10px;
    width: 590px;
    height: 55px;
    margin-left: 50px;
    font-family: "Ubuntu Condensed", Helvetica;
    font-weight: 400;
    color: #eeece7;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .hero-banner-section .intro-description .body {
    position: relative;
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #030202;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
    word-break: break-all;
    white-space: normal;
  }

  /*Portfolio Section*/
  .portfolio-section .headers{
    margin-left: 50px;
    font-family: "Ubuntu Condensed", Helvetica;
    font-weight: 400;
    color: #54bcf9;
    font-size: 48px;
    letter-spacing: 0.96px;
    line-height: normal;
    white-space: nowrap;
  }

  /*about-me section*/
  .portfolio-section .about-me .headers{
    margin-top: 45px;
  }
  /*portfolio text*/
  .portfolio-section .body{
    position: relative;
    width: 664px;
    margin-top: 35px;
    margin-left: 50px;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
  }

  /*project section*/
  .portfolio-section .projects .headers{
    margin-top: 45px;
    margin-bottom: -65px;
  }

  /*portfolio images*/
  .portfolio-section .projects .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 50px;    
  }
  .portfolio-section .projects .column{
    flex: 50%;
    max-width: 40%;
    margin-right: 50px;
  }
  .portfolio-section .projects .web_portfolio{
    margin-top: -27px;
  }

  .portfolio-section .projects .column img{
    margin-top: 80px;
    vertical-align: middle;
    width: 100%;
  }
  .portfolio-section .projects .project-description{
    display: flex;
    flex-direction: column;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
  }

  .projects .row .column img {
    border: 5px solid #54bcf9;
  }

  .projects .row .column img:hover{
    border: 5px solid #1e1e1e;
  }

  /*Contact Section*/
  .portfolio-section .contact .headers{
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .portfolio-section .contact .contact-info{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 200px;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
  }
   /*link behaviour*/ 
    .contact-info a:link {
    color: #1e1e1e;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
  }
    .contact-info a:hover {
    color: #54bcf9;
  }


  .text-underline{
    text-decoration: underline;
  }

  .text-bold {
    font-weight: bold;
  }
  
  /****************************/
  /*DATA ANALYSIS PROJECT PAGE*/
  /****************************/
  h3{
    margin-top: 45px;
    margin-left: 50px;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 32px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
  }

  .data_analysis_section .body{
    position: relative;
    width: 664px;
    margin-top: 35px;
    margin-left: 50px;
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 27.3px;
  }

  ul.bullet-point{
    margin-left: 65px;
    margin-bottom: 45px;
    line-height: 27.3px;
    list-style-type: circle;
  }
  