.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  width: 1169px;
  height: 2660px;
  position: relative;
}

.frame .overlap {
  position: absolute;
  width: 1169px;
  height: 549px;
  top: 0;
  left: 0;
  background-color: #54bcf9;
}

.frame .overlap-group {
  position: absolute;
  width: 237px;
  height: 173px;
  top: 47px;
  left: 430px;
}

.frame .ellipse {
  position: absolute;
  width: 166px;
  height: 166px;
  top: 0;
  left: 71px;
  border-radius: 83px;
  border: 8px solid;
  border-color: #000000;
}

.frame .text-wrapper {
  position: absolute;
  top: 29px;
  left: 113px;
  font-family: "Ubuntu Condensed", Helvetica;
  font-weight: 400;
  color: #292929;
  font-size: 92px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 146px;
  left: 0;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
  text-decoration: underline;
  white-space: nowrap;
}

.frame .detail-oriented-with {
  position: absolute;
  width: 664px;
  top: 421px;
  left: 10px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #030202;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 337px;
  left: 10px;
  font-family: "Ubuntu Condensed", Helvetica;
  font-weight: 400;
  color: #eeece7;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 220px;
  left: 561px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
  text-decoration: underline;
  white-space: nowrap;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 193px;
  left: 667px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
  text-decoration: underline;
  white-space: nowrap;
}

.frame .overlap-group-2 {
  position: absolute;
  width: 1169px;
  height: 2111px;
  top: 549px;
  left: 0;
  background-color: #eeece7;
}

.frame .text-wrapper-6 {
  position: absolute;
  top: 1756px;
  left: 51px;
  font-family: "Ubuntu Condensed", Helvetica;
  font-weight: 400;
  color: #54bcf9;
  font-size: 48px;
  letter-spacing: 0.96px;
  line-height: 82px;
  white-space: nowrap;
}

.frame .overlap-2 {
  position: absolute;
  width: 180px;
  height: 82px;
  top: 28px;
  left: 10px;
}

.frame .headers {
  position: absolute;
  top: 1756px;
  left: 51px;
  font-family: "Ubuntu Condensed", Helvetica;
  font-weight: 400;
  color: #54bcf9;
  font-size: 48px;
  letter-spacing: 0.96px;
  line-height: 82px;
  white-space: nowrap;
}

.frame .having-practiced-as {
  position: absolute;
  width: 664px;
  top: 139px;
  left: 10px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .p {
  position: absolute;
  width: 343px;
  top: 608px;
  left: 10px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .img {
  position: absolute;
  width: 470px;
  height: 392px;
  top: 665px;
  left: 594px;
  object-fit: cover;
}

.frame .rectangle-2 {
  position: absolute;
  width: 199px;
  height: 15px;
  top: 62px;
  left: 134px;
  background-color: #b6b6b6fc;
}

.frame .rectangle-3 {
  position: absolute;
  width: 199px;
  height: 15px;
  top: 90px;
  left: 134px;
  background-color: #b6b6b6fc;
}

.frame .rectangle-4 {
  position: absolute;
  width: 470px;
  height: 392px;
  top: 1189px;
  left: 51px;
  object-fit: cover;
}

.frame .rectangle-5 {
  position: absolute;
  width: 470px;
  height: 392px;
  top: 665px;
  left: 51px;
  object-fit: cover;
}

.frame .text-wrapper-9 {
  position: absolute;
  width: 470px;
  top: 1069px;
  left: 51px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .text-wrapper-10 {
  position: absolute;
  width: 470px;
  top: 1069px;
  left: 592px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .text-wrapper-11 {
  position: absolute;
  width: 470px;
  top: 1593px;
  left: 51px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .phone {
  position: absolute;
  top: 1867px;
  left: 51px;
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .span {
  font-family: "Urbanist", Helvetica;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 27.3px;
}

.frame .text-wrapper-12 {
  text-decoration: underline;
}
